
body{
	background: url(background.jpg);
	background-size: cover;
	font-family: Source Sans Pro;

}

body h1{
	color: white;		
}

h2{
	margin-top: 10px;
}

img{
	float: left;
	margin-right: 10px;
	margin-top: 15px;
}

label{
	color: grey;
}
/*Button used to open chat form */
.open-button {
	background-color: #659dbd;
	color:rgba(0,0,0,0.9);
	opacity: 0.9;
	border: none;
	margin-top: 15px;
	cursor: pointer;
	width: 250px;
	padding: 10px;
	margin-bottom: 30px;
	
}

input {
	margin-right: 10px;

}

.yourname {
	color: #f1f1f1;
}



/* Position of welcome div*/
.form-position{
	display: inline-block;
	text-align: center;
	margin-left: 570px;
	border: 3px solid #f1f1f1;
	padding: 10px 10px 20px;
	min-width: 700px;


}
/* The popup chat is hidden by default */
.chat-popup{
	display: none;
	position: fixed;
	bottom: 0px;
	right: 15px;
	border: 3px solid #f1f1f1;
	z-index: 9;
}

/* Styles to the form container */

.form-container{
	max-width: 300px;
	padding: 10px;
	background-color: white;

}

/* full-width textarea*/
.textareastyle{
	border: none;
	width: 90%;
	padding: 15px;
	margin: 5px 0 22px 0;
	background: #f1f1f1;
	min-height: 50px;
}

.thread{
	min-height: 150px;
}

/* Style for submit/send button */
.form-container .btn{
	background-color: #659dbd;
	color:rgba(0,0,0,0.9);
	padding: 16px 20px;
	margin-bottom: 10px;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.9;
}

/* Close button */
.form-container .btn-cancel{
float: right; 
}

.form-container .btn:hover , .open-button:hover{
	opacity: 1;
}